:host {
  .toolbar {
    height: 100px;
    display: flex;
  }

  gridster {
    display: flex;
    height: calc(100vh - 115px);
    flex-direction: column;
  }

  button {
    height: 30px;
  }

  .draggable {
    padding: 10px;
    width: 200px;
    border: solid 2px #000;
    margin-left: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  gridster-item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px;
  }
  .delete {
    align-items: center;
    width: 40px;
    height: 40px;
  }
  gridster {
    background-color: #ffffff;
  }
  .menu {
    width: 100px;
    text-align: center;
    height: 60px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu-div {
    padding: 16px;
  }
}
